<h2>CLASE 1</h2>
<!-- Para obtener atributos del ts -->
<h3>{{title}}</h3>

<!-- se usa corchetes en atributos de etiquetas-->
<p>Son etiquetas de como cargar imagenes</p>
<img [src]="src" height="100px">
<img bind-src="src" height="100px">

<!-- para eventos es () 
<p>Cada vez que haga click en el testo se dispara el evento que se hace con () en funciones</p>
<h1 (click)="manejadora($event)">{{click}}</h1>-->
<br>
<p>Cada cosa que escriba en el input va a ser leida y mostrada por el ngModel</p>
<form>
    <input type="text" [(ngModel)]="persona.nombre" placeholder="Ingrese nombre" name="nombre" id="">
    <input type="text" [(ngModel)]="persona.apellido" placeholder="Ingrese apellido" name="apellido" id="">
    <input type="button" value= "Enviar" (click)="manejadora($event)">
</form>
<h5>{{persona.nombre}},{{persona.apellido}}</h5>
